<!--
Generated template for the RegisterPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content scroll="false">
    <div>
        <form [formGroup]="signUpForm">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item no-padding>
                            <ion-label stacked>First Name*</ion-label>
                            <ion-input type="text" [class.invalid]="!signUpForm.controls.firstName.valid && (signUpForm.controls.firstName.dirty || registerAttempt)" formControlName="firstName" name="firstName" [(ngModel)]="signUpData.firstName"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item no-padding>
                            <ion-label stacked>Last Name*</ion-label>
                            <ion-input type="text" [class.invalid]="!signUpForm.controls.lastName.valid && (signUpForm.controls.lastName.dirty || registerAttempt)" formControlName="lastName" name="lastName" [(ngModel)]="signUpData.lastName"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="input-group">
                            <div class="input-select-addon">
                                <ul id="countryList">
                                    <li *ngFor="let country of countryList" attr.id="{{country.countryAlpha}}" attr.data-code={{country.countryCode}} (click)="showSelect()"><img src={{country.countryImg}}></li>
                                </ul>
                            </div>
                            <div id="select-arrow" (click)="showSelect()"><i class="arrow down"></i></div>
                            <div class="input-group-addon">{{countryCodeSelected}}</div>
                        </div>
                        <ion-item class="hideselect">
                            <ion-label>Select country</ion-label>
                            <ion-select id="selectTag" (ionChange)="optionsFn()" formControlName="countryList" [(ngModel)]="countryselected">
                                <ion-option *ngFor="let country of countryList" [value]=country attr.data-code={{country.countryCode}}>{{country.country}} ({{country.countryCode}})</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item no-padding>
                            <ion-label stacked>Mobile*</ion-label>
                            <ion-input type="text" [class.invalid]="!signUpForm.controls.contactNumber.valid && (signUpForm.controls.contactNumber.dirty || registerAttempt)" formControlName="contactNumber" name="contactNumber" [(ngModel)]="contactNumber"></ion-input>
                        </ion-item>
                        <ion-label *ngIf="!signUpForm.controls.contactNumber.valid && (signUpForm.controls.contactNumber.dirty || registerAttempt)">
                            <p>Please enter valid Mobile</p>
                        </ion-label>
                        <ion-item no-padding>
                            <ion-label stacked>Email*</ion-label>
                            <ion-input type="text" [class.invalid]="!signUpForm.controls.emailId.valid && (signUpForm.controls.emailId.dirty || registerAttempt)" formControlName="emailId" name="emailId" [(ngModel)]="signUpData.emailId"></ion-input>
                        </ion-item>
                        <ion-label *ngIf="!signUpForm.controls.emailId.valid && (signUpForm.controls.emailId.dirty || registerAttempt)">
                            <p>Please enter valid email</p>
                        </ion-label>
                        <ion-item no-padding>
                            <ion-label stacked>Password*</ion-label>
                            <ion-input placeholder="Minium 6 characters" type="password" [class.invalid]="!signUpForm.controls.password.valid && (signUpForm.controls.password.dirty || registerAttempt)" formControlName="password" name="password" [(ngModel)]="signUpData.password"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item no-padding>
                            <ion-label stacked>Date of Birth*</ion-label>
                            <ion-datetime displayFormat="MMM DD YYYY" formControlName="dob" name="dob" [(ngModel)]="signUpData.dob"></ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-label stacked>Gender*</ion-label>
                        <ion-item no-padding>
                            <ion-segment formControlName="gender" name="gender" [(ngModel)]="signUpData.gender">
                                <ion-segment-button value="M">
                                    <ion-icon name="male"> M</ion-icon>
                                </ion-segment-button>
                                <ion-segment-button value="F">
                                    <ion-icon name="female"> F</ion-icon>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-item>
                    </ion-col>

                </ion-row>

                <ion-item no-lines text-center>
                    <p>By Signing up, you are accepting <a (click)="openTerms()">Pobyt T&C.</a></p>
                </ion-item>
                <ion-row>
                    <p class="error" *ngIf="(!signUpForm.valid && signUpAttempt)">
                        <ion-icon name="close-circle"></ion-icon>Please enter all required fields</p>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>
<ion-footer>
    <button ion-button full class='pobyt-button' (click)="singUpSubmit()">Register
    </button>
</ion-footer>