<!--
Generated template for the RegisterPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div >
        <form (ngSubmit)="singUpSubmit()" [formGroup] = "signUpForm">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-input placeholder="First Name" type="text" [class.invalid]= "!signUpForm.controls.firstname.valid && (signUpForm.controls.firstname.dirty || registerAttempt)" formControlName="firstname" name="firstname" [(ngModel)]="signUpData.firstName" ></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input placeholder="Last Name" type="text" [class.invalid]= "!signUpForm.controls.lastname.valid && (signUpForm.controls.lastname.dirty || registerAttempt)" formControlName="lastname" name="lastname" [(ngModel)]="signUpData.lastName"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-input placeholder="Mobile" type="text" [class.invalid]= "!signUpForm.controls.mobile.valid && (signUpForm.controls.mobile.dirty || registerAttempt)"formControlName="mobile" name="mobile" [(ngModel)]="signUpData.contactNumber"></ion-input> 
                    </ion-item>
                    <ion-label *ngIf="!signUpForm.controls.mobile.valid && (signUpForm.controls.mobile.dirty || registerAttempt)">
                        <p>Please enter valid Mobile</p>
                    </ion-label>
                    <ion-item>
                        <ion-input placeholder="Email" type="text"  [class.invalid]= "!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || registerAttempt)" formControlName="email" name="email" [(ngModel)]="signUpData.emailAddress"></ion-input> 
                    </ion-item>
                    <ion-label *ngIf="!signUpForm.controls.email.valid && (signUpForm.controls.email.dirty || registerAttempt)">
                        <p>Please enter valid email</p>
                    </ion-label>
                    <ion-item>
                        <ion-input placeholder="Password" type="password" [class.invalid]= "!signUpForm.controls.password.valid && (signUpForm.controls.password.dirty || registerAttempt)" formControlName="password" name="password" [(ngModel)]="signUpData.loginPassword"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-footer>
                <button ion-button block medium type="submit">Register</button>
            </ion-footer>
        </form>
    </div>
</ion-content>
