page-register {
    .col{
        padding-top: 0px;
    }
    .content,
    .item {
        background-color: map-get($colors, content-background);
    }
    .item.item-block .item-inner {
        border-bottom: none;
    }
    .text-input,
    .datetime {
        padding: 1rem;
        background-color: map-get($colors, whiteColor);
        border: 1px solid map-get($colors, placeholder-color);
        border-radius: 5px;
    }
    .datetime {
        margin-top: 1rem;
    }
    .text-input::-moz-placeholder,
    .text-input:-ms-input-placeholder,
    .text-input::-webkit-input-placeholder {
        color: map-get($colors, placeholder-color);
        font-family: $theme-font;
        font-size: 1.5rem
    }
    .label {
        color: map-get($colors, placeholder-color);
        font-family: $theme-font;
        font-size: 1.5rem !important;
        margin-top: 5px;
    }
    .segment .segment-button ion-icon {
        font-size: 2rem;
    }
    .segment .segment-button {
        border: 2px solid map-get($colors, theme) !important;
        color: map-get($colors, theme) !important;
        margin-right: 1rem !important;
        height: 4rem;
        line-height: 4rem;
        margin-top: 0.3rem;
    }
    .segment-button.segment-activated {
        background-color: map-get($colors, theme) !important;
        color: map-get($colors, whiteColor) !important;
    }
    a {
        color: map-get($colors, theme);
    }
}
