<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content class="login-content" padding>
  <div class="login-box">
    
    <form (ngSubmit)="register()" [formGroup] = "registerForm">
      <ion-row>
        <ion-col>
          <ion-list inset>            
            <ion-item>
              <ion-label floating>Enter Firstname</ion-label>
              <ion-input type="text" [class.invalid]= "!registerForm.controls.firstname.valid && (registerForm.controls.firstname.dirty || registerAttempt)" formControlName="firstname" name="firstname" [(ngModel)]="firstname" ></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label floating>Enter Lastname</ion-label>
              <ion-input type="text" [class.invalid]= "!registerForm.controls.lastname.valid && (registerForm.controls.lastname.dirty || registerAttempt)" formControlName="lastname" name="lastname" [(ngModel)]="lastname"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label floating>Enter Mobile number</ion-label>
              <ion-input type="text" [class.invalid]= "!registerForm.controls.mobile.valid && (registerForm.controls.mobile.dirty || registerAttempt)"formControlName="mobile" name="mobile" [(ngModel)]="mobile"></ion-input> 
            </ion-item>
            <ion-label *ngIf="!registerForm.controls.mobile.valid && (registerForm.controls.mobile.dirty || registerAttempt)">
                <p>Please enter valid Mobile</p>
            </ion-label>
            <ion-item>
              <ion-label floating>Enter your email id</ion-label>
              <ion-input type="text"  [class.invalid]= "!registerForm.controls.email.valid && (registerForm.controls.email.dirty || registerAttempt)" formControlName="email" name="email" [(ngModel)]="email"></ion-input> 
            </ion-item>
            <ion-label *ngIf="!registerForm.controls.email.valid && (registerForm.controls.email.dirty || registerAttempt)">
                <p>Please enter valid email</p>
            </ion-label>
            <ion-item>
              <ion-label floating>Enter Password</ion-label>
              <ion-input type="password" [class.invalid]= "!registerForm.controls.password.valid && (registerForm.controls.password.dirty || registerAttempt)" formControlName="password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit">Register</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
