page-register {
    .col {
        padding-top: 0px;
    }
    .content,
    .item {
        background-color: map-get($colors, content-background);
    }
    .item.item-block .item-inner {
        border-bottom: none;
    }
    .text-input,
    .datetime {
        padding: 1rem;
        background-color: map-get($colors, whiteColor);
        border: 1px solid map-get($colors, placeholder-color);
        border-radius: 5px;
    }
    .datetime {
        margin-top: 1rem;
    }
    .text-input::-moz-placeholder,
    .text-input:-ms-input-placeholder,
    .text-input::-webkit-input-placeholder {
        color: map-get($colors, placeholder-color);
        font-family: $theme-font;
        font-size: 1.5rem
    }
    .label {
        color: map-get($colors, placeholder-color);
        font-family: $theme-font;
        font-size: 1.5rem !important;
        margin-top: 5px;
    }
    .segment .segment-button ion-icon {
        font-size: 2rem;
    }
    .segment .segment-button {
        border: 2px solid map-get($colors, theme) !important;
        color: map-get($colors, theme) !important;
        margin-right: 1rem !important;
        height: 4rem;
        line-height: 4rem;
        margin-top: 0.3rem;
    }
    .segment-button.segment-activated {
        background-color: map-get($colors, theme) !important;
        color: map-get($colors, whiteColor) !important;
    }
    a {
        color: map-get($colors, theme);
    }

    .input-select-addon {
        margin: auto;
        width: 15%;
        float: left;
    }
    #select-arrow {
        width: 5%;
        float: left;
        padding: 5px 0px;
    }
    i {
        border: solid #777373;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    ul {
        width: 25px;
        height: auto;
        overflow-y: scroll;
        margin: 0px auto;
        padding: 7px 0px;
    }
    li {
        list-style: none;
        list-style-position: inside;
    }
    li:not(:first-child) {
        display: none;
    }
    ul:hover {
        background: transparent;
    }
    ul:hover li {
        display: block;
    }
    .input-group {
        border: 2px solid #D8D8D8;
        border-radius: 7px;
        margin: 25px auto;
        height: 35px;
        width: 85%;
    }
    .input-group-addon {
        background-color: transparent;
        font-size: 17px;
        //color: #777373;
        padding: 5px;
        border-left: 1px solid #dbd9d9;
        width: 22%;
        height: 33px;
        float: left;
        text-align: center;
    }
    .input-group .input-group-addon + .form-control {
        border-left: none;
    }
    .hideselect {
        display: none;
    }
}