<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>584241402371-hkt1a94k8ieedmcv4blomerj42luuh26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584241402371-hkt1a94k8ieedmcv4blomerj42luuh26</string>
	<key>API_KEY</key>
	<string>AIzaSyDdCUVCs3CqRobFihJHo2LFsHU0KVc1mdg</string>
	<key>GCM_SENDER_ID</key>
	<string>584241402371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.pobyttest</string>
	<key>PROJECT_ID</key>
	<string>pobyttest-fe0d1</string>
	<key>STORAGE_BUCKET</key>
	<string>pobyttest-fe0d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:584241402371:ios:eea115c9ad2f9a0b</string>
	<key>DATABASE_URL</key>
	<string>https://pobyttest-fe0d1.firebaseio.com</string>
</dict>
</plist>