page-booking {

.bookingPage
{
background-color:#ECECEC
}
.durationContent
{
color:#25B2A9
}
.headingText
{
background-color:#FFFFFF
}
.headingText2
{
background-color:#999999
}
.arrowIcon
{
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }
.guestIcon
{
margin: 0;
    height: 83%;
}
.user
{
background-image:url(../assets/img/booking/user.png);
        background-repeat: no-repeat !important;


}

.guestText
{
margin-left:10px;
color:#616161
}
.singleGuest
{

    background-color: #07B7AD;
    height: 43%;
    margin-top: 3%;
    text-align: center;
    color: #fff;
    border-radius: 6%;
}
.doubleGuest
{
background-color:#999999;
 height: 43%;
    margin-top: 3%;
    text-align: center;
    color: #fff;
    border-radius: 6%;
}
.termsImp
{
color:#6D181F
}
.termsMsg
{
color:#919191
}

.custButton{
    padding: 0 34px;
    background-color: #08b6ad !important;
    margin-top:7%
  }

  .custButton2{
    padding: 0 34px;
    background-color:#999999 !important;
    margin-top:7%
  }

 
}

