<!--
  Generated template for the VerifyNumberPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>{{screenTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--- collecting mobile during forgot password or socail login -->
    <div id="VerifyMobileContainer" [hidden]="hideMobilePopUp">
        <div class="otpImage">
            <img src="{{imageName}}">
        </div>
        <div class="input-group">
            <div class="input-select-addon">
                <ul id="countryList">
                    <li *ngFor="let country of countryList" attr.id="{{country.countryAlpha}}" attr.data-code={{country.countryCode}} (click)="showSelect()"><img src={{country.countryImg}}></li>
                </ul>
            </div>
            <div id="select-arrow" (click)="showSelect()"><i class="arrow down"></i></div>
            <div class="input-group-addon">{{countryCodeSelected}}</div>
            <ion-input type="tel" pattern="[0-9]*" minlength="10" maxlength="10" [(ngModel)]="contactNumber" placeholder="Your Mobile Number"></ion-input>
        </div>
        <ion-item class="hideselect">
            <ion-label>Select country</ion-label>
            <ion-select id="selectTag" (ionChange)="optionsFn()" [(ngModel)]="countryselected">
                <ion-option *ngFor="let country of countryList" [value]=country attr.data-code={{country.countryCode}}>{{country.country}} ({{country.countryCode}})</ion-option>
            </ion-select>
        </ion-item>
        <div class="otpInfo"><span>We will send you One-Time-Password (OTP) via SMS. Please enter OTP in next step.</span></div>
        <ion-row>
            <ion-col full bstyle="text-align: center;">
                <button ion-button class="pobyt-button" (click)="generateOtp()">Next
                </button>
            </ion-col>
        </ion-row>
    </div>
    <!--- otp screen -->
    <div id="VerifyOTPContainer" [hidden]="hideOtpPopUp">
        <div class="otpImage">
            <img src="assets/verify-number/otp.png">
        </div>
        <ion-row>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp1 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[0]" (keyup)="next(otp2)">
                </ion-input>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp2 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[1]" (keyup)="next(otp3)">
                </ion-input>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp3 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[2]" (keyup)="next(otp4)">
                </ion-input>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp4 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[3]" (keyup)="next(otp5)">
                </ion-input>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp5 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[4]" (keyup)="next(otp6)">
                </ion-input>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <ion-input type="tel" #otp6 class="otp" pattern="[0-9]*" maxlength="1" size="1" [(ngModel)]="items[5]">
                </ion-input>
            </ion-col>
        </ion-row>
        <div class="otpInfo">
            <div class="verify">Verify OTP</div>
            <div class="verifyInfo">Please enter 6 digit OTP sent to +91 {{HiddenMobNum}}</div>
        </div>
        <ion-row>
            <ion-col full bstyle="text-align: center;">
                <button ion-button class="pobyt-button" (click)="generateOtp()">Resend
                </button>
            </ion-col>
            <ion-col full bstyle="text-align: center;">
                <button ion-button class="pobyt-button" (click)="submitOtp()">Submit
                </button>
            </ion-col>
        </ion-row>
    </div>
    <!--- change password -->
    <form [formGroup]="changeForm" [hidden]="hideChangeForm">
        <ion-item [class.invalid]="!oldPassword.valid && password.touched">
            <ion-label floating>Old Password</ion-label>
            <ion-input type="password" value="" [formControl]="oldPassword"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="!password.valid && password.touched">
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" value="" [formControl]="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="password.hasError('required') && password.touched" class="invalid">
            <p>* Password is required!</p>
        </ion-item>

        <ion-item *ngIf="password.hasError('minlength') && password.touched" class="invalid">
            <p>* Minimum password length is 3!</p>
        </ion-item>

        <ion-item *ngIf="password.hasError('maxlength') && password.touched" class="invalid">
            <p>* Maximum password length is 10!</p>
        </ion-item>

        <ion-item [class.invalid]="!re_password.valid && re_password.touched">
            <ion-label floating>Re-enter Password</ion-label>
            <ion-input type="password" value="" [formControl]="re_password"></ion-input>
        </ion-item>

        <ion-item *ngIf="re_password.hasError('pw_mismatch') && re_password.touched" class="invalid">
            <p>* Passwords do not match!</p>
        </ion-item>
        <button ion-button block medium (click)="changePassword()" [disabled]="(!changeForm.valid)">Submit</button>
    </form>
    <!--- reset password -->
    <form [formGroup]="resetForm" [hidden]="hideResetForm">

        <ion-item [class.invalid]="!password.valid && password.touched">
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" value="" [formControl]="password"></ion-input>
        </ion-item>

        <ion-item *ngIf="password.hasError('required') && password.touched" class="invalid">
            <p>* Password is required!</p>
        </ion-item>

        <ion-item *ngIf="password.hasError('minlength') && password.touched" class="invalid">
            <p>* Minimum password length is 3!</p>
        </ion-item>

        <ion-item *ngIf="password.hasError('maxlength') && password.touched" class="invalid">
            <p>* Maximum password length is 10!</p>
        </ion-item>

        <ion-item [class.invalid]="!re_password.valid && re_password.touched">
            <ion-label floating>Re-enter Password</ion-label>
            <ion-input type="password" value="" [formControl]="re_password"></ion-input>
        </ion-item>

        <ion-item *ngIf="re_password.hasError('pw_mismatch') && re_password.touched" class="invalid">
            <p>* Passwords do not match!</p>
        </ion-item>
        <button ion-button block medium (click)="changePassword()" [disabled]="(!resetForm.valid)">Submit</button>
    </form>
</ion-content>