page-verify-number {
	ion-header{
        background-color: map-get($colors, content-background);
    }
    ion-input{
    	color:#777373;
    	float:left;
    	width: 58%;
    	margin: 0 auto;
    	input{
    		margin: 5px 8px 5px 0 !important;
    		margin-left: 4px !important;
    		font-size: 17px;
    	}
    	input::placeholder {
    		font-size: 14px !important;
    		letter-spacing: 0px;
    	}
	}

	.input-select-addon{
	  margin: auto;
	  width:15%;
	  float:left;
	}
	#select-arrow{
		width:5%;
		float:left;
		padding: 5px 0px;
	}
	i {
	    border: solid #777373;
	    border-width: 0 2px 2px 0;
	    display: inline-block;
	    padding: 2px;
	}
	.down {
	    transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	}
	ul{
	  width: 25px;
	  height: auto;
	  overflow-y:scroll;
	  margin:0px auto;
	  padding:7px 0px;
	}
	li{
	  list-style: none;
	  list-style-position: inside;  
	}
	li:not(:first-child){display: none;}
	ul:hover{
	  background: transparent;
	}
	ul:hover li{display: block;}

	.otpImage{
		width:75%;
		margin:0 auto;
	}
	.otp{
		width:100%;
		input{
			text-align:center;
		}
	}
	#VerifyMobileContainer .otpInfo{
	    text-align: center;
    	color: #777373;
	    font-weight: 400;
	    width: 85%;
	    margin: 12px auto;
	}
	ion-col{
	    text-align: center;
	}
	
	.pobyt-button{
	    width: 50%;
	}
	.input-group{
		border: 2px solid #D8D8D8;
	    border-radius: 7px;
	    margin: 25px auto;
	    height:35px;
	    width: 85%;
	}
	.input-group-addon
	{
	    background-color: transparent;
	    font-size: 17px;
	    //color: #777373;
	    padding: 5px;
	    border-left: 1px solid #dbd9d9;
	    width:22%;
	    height:33px;
	    float:left;
	    text-align:center;
	}
	.input-group .input-group-addon + .form-control
	{
	    border-left:none;
	}



	.hideselect{
		display:none;
	}

	#VerifyOTPContainer{
		ion-row{
			margin: 15px auto;
		}
		ion-col ion-input{
			border: 1.5px solid #d3d1d1;
    		border-radius: 4px;			
		}
		.otpInfo{
			text-align: center;
		    font-size: 12px;
		    color: #6f6d6d;
		    .verify{
		    	font-weight: bold;
		    }
		}
		.pobyt-button{
			width: 100%;
		}
	}

}
