page-verify-number {
	ion-header{
        background: rgba(0,0,0,0);
    }
    .toolbar-background{
    	background: transparent !important;
    	border: none !important;
    }
    ion-title .toolbar-title{
    	color:#727272 !important;
    }
	ion-input{
    	color:#777373;
    	float:left;
    	width: 80%;
    	margin: 0 auto;
    	input{
    		margin: 5px 8px 5px 0 !important;
    		margin-left: 4px !important;
    		font-size: 3.5vmax;
    		text-align:center;
    		letter-spacing: 3px;
    	}
    	input::placeholder {
    		font-size: 3.2vmax !important;
    		letter-spacing: 0px;
    	}
	}
	.otpImage{
		width:75%;
		margin:0 auto;
	}
	#VerifyMobileContainer .otpInfo{
	    text-align: center;
    	color: #777373;
	    font-weight: 400;
	    width: 85%;
	    margin: 12px auto;
	}
	ion-col{
	    text-align: center;
	}
	
	.pobyt-button{
	    width: 50%;
	}
	.input-group{
		border: 2px solid #D8D8D8;
	    border-radius: 7px;
	    margin: 25px auto;
	    height:45px;
	    width: 85%;
	}
	.input-group-addon
	{
	    background-color: transparent;
	    font-size: 3.5vmax;
	    color: #777373;
	    padding: 5px;
	    border-right: 1px solid #dbd9d9;
	    width:20%;
	    float:left;
	}
	.input-group .input-group-addon + .form-control
	{
	    border-left:none;
	}
}
