page-hotelslider {
    $white: #FFFFFF;
    $black: rgba(#000000, .2);
    $black-a: lighten($black, 10%);
    $orange: #F39941;
    width: 100%;
    height: 36%;
    position: absolute;
    bottom: 0;
    text-align: left;
    .slide-zoom {
        height: 100%;
    }
    .swiper-slide {
      width: 80% !important;
    }
    ion-content,
    .scroll-content {
        background: none !important;
    }
    .hotelSlider {
        background-color: #dde3e3;
        width: 100%;
        height: 78%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 10px;
        box-shadow: inset 3px 3px 3px #888;
        .sliderContent {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            
        }
    }
    .hotelDetails {
        display: block;
        height: 25%;
    }
    .hotelFare {
        width: 32%;
        padding: 5px 0;
        height: auto;
    }
    .hotelMinCost{
        background-color: #e7ded5;
        opacity: 0.9;
        color: black;
        height: auto;
        width: auto;
        text-align: center;
        position: absolute;
        font-weight: 600;
        top: 5%;
        span{
            opacity: 0.8;
        }
    }
    span.farecurrency {
        font-size: .8em;
        display: inline-block;
        vertical-align: top;
        margin-top: 8px;
    }
    span.hotel-priceMin {
        font-size: 5vmax;
        font-weight: 600;
        letter-spacing: -2px;
        margin-left: -4px;
    }

    span.hotel-price-diff {
        font-size: 4.5vmax;
        display: inline-block;
        vertical-align: bottom;
        -ms-transform: rotate(7deg);
        transform: rotate(12deg);
        margin: 0 0px -4px -2px;
        font-family: Opensans-Light;
    }
    .hotelMinCost .minumum {
        font-size: .7em;
        display: inline-block;
        vertical-align: bottom;
        margin-left: -7px;
        margin-right: 5px;
        font-weight: normal;
        font-family: Opensans-Regular;
    }
    .hotelDetails .minDuration {
        right: 0%;
        font-family: Opensans-Semibold;
    }

    .minDuration {
        background-color: #e7ded5;
        color: black;
        opacity: 0.9;
        font-weight: 600;
        height: auto;
        width: auto;
        text-align: center;
        padding: 1% 3%;
        position: absolute;
        font-size: 2.6vmax;
        top: 5%;
        right: 0%;
    }
   
    .h-info{
        height : 27%;
        margin-top:-2%;
        background-color: white;
    }
    .h-Name{
        float: left;
        font-size: 2.8vmax;
        margin-top: 1vmax;
        margin-left: 1vmax;
        font-weight: 600;
    }
    div#h-Dist{
        float: right;
        font-size: 2.5vmax;
        font-weight: 600;
        margin-top: 1vmax;
        margin-right: 1vmax
    }
    .three {
        background: url(../assets/map/ratings.png) no-repeat 1vmax 5vmax;
        height: 100%;
        width: 100%;
        background-size: 65px 14px;
    }
    .four {
        background: url(../assets/map/ratings.png) no-repeat 1vmax 5vmax;
        height: 100%;
        width: 100%;
        background-size: 65px 14px;
    }
    .five {
        background: url(../assets/map/ratings.png) no-repeat 1vmax 5vmax;
        height: 100%;
        width: 100%;
        background-size: 65px 14px;
    }
    .seven {
        background: url(../assets/map/ratings.png) no-repeat 1vmax 5vmax;
        height: 100%;
        width: 100%;
        background-size: 65px 14px;
    }
    /*No Result style*/
    ion-card {
        background: map-get($colors, theme) !important;
        border: 5px solid rgba(42, 43, 43, 0.37) !important;
        border-radius: 5px;
        img {
            width: 50% !important;
            margin: 10px auto;
        }
        .card-content {
            padding: 0px 16px !important;
        }
        .card-title {
            color: map-get($colors, whiteColor) !important;
            font-size: 2.5vmax !important;
            font-weight: bold;
            text-align: center;
            padding: 2px 0 !important;
        }
        p {
            color: map-get($colors, whiteColor) !important;
            font-size: 2vmax !important;
            line-height: 1.0 !important;
            text-align: center;
        }
    }
    #TempFullScreenContainer {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
    }
    #TempFullParent {
        position: absolute;
        top: 25%;
        width: 100%;
    }
    #TempFullImg,
    #TempFullcontent {
        margin: 0 auto;
    }
    #TempFullImg img {
        width: 12%;
    }
    #TempFullcontent {
        color: #FFD800;
        font-size: 3vmax;
        font-weight: bold;
    }
}