page-hotelslider {
    $white: #FFFFFF;
    width: 100%;
    height: 36%;
    position: absolute;
    bottom: 0;
    text-align: left;
    .slide-zoom {
        height: 100%;
    }
    .swiper-slide {
      width: 80% !important;
    }
    ion-content,
    .scroll-content {
        background: none !important;
    }
    .white-bg{
        height: 25%;
        width: 100%;
        background-color: white;
        bottom: 0;
        position: absolute;
        left: 0;
    }
    .hotelSlider {
        width: 100%;
        height: 78%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: rgb(216, 216, 216);
        position: relative;
        border-radius: 0.438em;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        .sliderContent {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .hotelDetails {
        display: block;
        height: 25%;
    }
    .hotelFare {
        width: 32%;
        padding: 5px 0;
        height: auto;
    }
    .hotelMinCost{
        background-color: rgba(255,255,255,0.8);
        color: rgb(0,0,0);
        height: auto;
        width: auto;
        text-align: center;
        position: absolute;
        font-weight: 600;
    }
    span.farecurrency {
        font-size: .8em;
        display: inline-block;
        vertical-align: top;
        margin-top: 1.7vmax;
    }
    span.hotel-priceMin {
        font-size: 2.175em;
        font-weight: 600;
        margin-left: -0.9vmax;
        margin-right: -1.3vmax
    }

    span.hotel-price-diff {
        font-size: 2.175em;
        display: inline-block;
        vertical-align: bottom;
        transform: rotate(0deg);
        margin: 0.0vmax -0.5vmax -0.8vmax -0.7vmax;
        font-weight: 300;
    }
    .hotelMinCost .minumum {
        font-size: 0.625em;
        display: inline-block;
        margin-left: -0.8vmax;
        margin-right: 0.8vmax;
    }
    .minDuration {
        background-color: rgba(255,255,255,0.8);
        color: rgb(0,0,0);
        font-weight: 600;
        height: auto;
        width: auto;
        text-align: center;
        padding: 1% 3%;
        position: absolute;
        font-size: 0.83em;
        right: 0%;
    }
   
    .h-info{
        height : 27%;
        margin-top:-2%;
        background-color: white;
    }
    .h-Name{
        float: left;
        font-size: 1.125em;
        margin-top: 1.6vmax;
        margin-left: 1vmax;
        font-weight: 600;
        margin-bottom: -1.0vmax;
    }
    div#h-Dist{
        float: right;
        font-size: 0.938em;
        font-weight: 600;
        margin-top: 1.6vmax;
        margin-right: 1vmax
    }
    .h-rating{
        margin-left: 1vmax;
        width: 10vmax;
    }
    /*No Result style*/
    ion-card {
        background: map-get($colors, theme) !important;
        border: 5px solid rgba(42, 43, 43, 0.37) !important;
        border-radius: 5px;
        img {
            width: 50% !important;
            margin: 10px auto;
        }
        .card-content {
            padding: 0px 16px !important;
        }
        .card-title {
            color: map-get($colors, whiteColor) !important;
            font-size: 2.5vmax !important;
            font-weight: bold;
            text-align: center;
            padding: 2px 0 !important;
        }
        p {
            color: map-get($colors, whiteColor) !important;
            font-size: 2vmax !important;
            line-height: 1.0 !important;
            text-align: center;
        }
    }
    #TempFullScreenContainer {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
    }
    #TempFullParent {
        position: absolute;
        top: 25%;
        width: 100%;
    }
    #TempFullImg,
    #TempFullcontent {
        margin: 0 auto;
    }
    #TempFullImg img {
        width: 12%;
    }
    #TempFullcontent {
        color: #FFD800;
        font-size: 3vmax;
        font-weight: bold;
    }
}