page-duration {
	.pricing{
		width:100%;
		height:100%;
		.slide-label{
		    writing-mode: vertical-lr;
		    text-orientation: upright;
		    font-size: 1vmax;
		    margin: 2vmax 0vmax 0vmax 0vmax;
		}
		.calculation-label{
			height:40%;
			.col{
			    padding:0vmax !important;
			    margin-top: 5vmax !important;
    			font-size: 2.5vmax;
			}
		}
		.calculation{
			.col{
				padding:0vmax !important;
			}
		}
	}

}
