page-home {
	.menu-header{
		text-align:center;
		font-size:initial;
	}
	.list-ios, .list-md{
		margin:0;
	}
	ion-footer {
    	&.footer-md::before {
        	background-image: none;
    	}
	}
}

.map-page #map{
	width:100%;
	height:100%;
}