<!--
  Generated template for the HotelinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="hotelInfo">
  <ion-slides class="hotelSlides" pager="true" loop="false">
    <ion-slide class="contact-slide" *ngFor="let image of hotelInfo.images">
        <img [src]="image">
        <div class="SliderBlackOverlay"></div>
    </ion-slide>
  </ion-slides>
  <ion-icon name="close" class="backbutton" (click)="dismiss()"></ion-icon>
  <div class="sliderContent">
    <div class="HotelName">{{hotelInfo.hotelname}}
    </div>
    <div class="HotelAddress">
      <span class="hotel-category-child">{{hotelInfo.address.address1}}, {{hotelInfo.address.address2}}, {{hotelInfo.address.city}}, {{hotelInfo.address.state}}
      </span>
    </div>
    <img class="HotelyType" [src]="hotelInfo.rating">
  </div>
  <div class="amenities">
      <ion-label>AMENITIES</ion-label>
      <ion-row >
        <ion-col *ngFor="let amenity of hotelInfo.amenities">
          <div ngClass={{amenity}} class="amenity" ></div>
        </ion-col>
      </ion-row>
  </div>
  <div class="pricing">
    <ion-row>
        <ion-col>
            <ion-label class="price">PRICING</ion-label>                    
        </ion-col>
        <ion-col>
            <ion-label class="duration">{{hotelInfo.minduration}} {{hotelInfo.farechargetype}} MINIMUM</ion-label>
        </ion-col>
     </ion-row>
     <ion-row>
      <ion-item>
        <ion-label>{{stayDuration}}hr + 18% GST = &#x20b9; {{fareAmount}}</ion-label>
        <ion-range min="1" max="12" step="1" snaps="true" [(ngModel)]="stayDuration" (ionChange) = "calculatefare()">
          <ion-label range-left>1</ion-label>
          <ion-label range-right>12</ion-label>
        </ion-range>
      </ion-item>
    </ion-row>
  </div>  
</ion-content>

<ion-footer class="reserve-now">
  <ion-toolbar>
    <button ion-button (click)="reserveNow()"  full>RESERVE NOW</button>
  </ion-toolbar>
</ion-footer>