<!--
  Generated template for the HotelinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="hotelInfo">
  <ion-slides class="hotelSlides" pager="true" loop="false">
    <ion-slide class="contact-slide" *ngFor="let image of hotelInfo.images">
        <img [src]="image">
        <div class="SliderBlackOverlay"></div>
    </ion-slide>
  </ion-slides>
  <ion-icon name="close" class="backbutton" (click)="dismiss()"></ion-icon>
  <div class="sliderContent">
    <div class="HotelName">{{hotelInfo.hotelname}}
    </div>
    <div class="HotelAddress">
      <span class="hotel-category-child">{{hotelInfo.address.address1}}, {{hotelInfo.address.address2}}, {{hotelInfo.address.city}}, {{hotelInfo.address.state}}
      </span>
    </div>
    <img class="HotelyType" [src]="hotelInfo.rating">
  </div>
  <div class="amenities">
      <ion-label>AMENITIES</ion-label>
      <ion-row >
        <ion-col *ngFor="let amenity of hotelInfo.amenities">
          <div ngClass={{amenity}} class="amenity" ></div>
        </ion-col>
      </ion-row>
  </div>
  <div class="pricing">
    <ion-row>
        <ion-col>
            <ion-label class="price">PRICING</ion-label>                    
        </ion-col>
        <ion-col style="text-align: right;">
            <ion-label class="duration inlineblock">{{hotelInfo.minduration}} {{hotelInfo.farechargetype}} MINIMUM</ion-label>
        </ion-col>
     </ion-row>
     <ion-row>
       <div class="farecalculation">
          <div class="durationparent inlineblock">
              <div class="stayduration inlineblock"><ion-datetime min="01:00" max="11:00" displayFormat="HH:mm" [(ngModel)]="stayDuration" (ionChange) = "calculatefare()" >
  </ion-datetime></div><div class="durationtype inlineblock">HR</div>
          </div>
          <div class="plusymb inlineblock">+</div>
          <div class="taxparent inlineblock">
              <div class="taxpercentage inlineblock">{{hotelInfo.taxpercent}}</div><div class="percemtsymb inlineblock">%</div>
          </div>
          <div class="equalsymb inlineblock">=</div>
          <div class="fareparent inlineblock">
               <div class="totalfare inlineblock">&#x20b9; {{fareAmount}}</div>
          </div>
        </div>
     </ion-row>
     <ion-row class="pricingsubinfo">
        <ion-col>
          <ion-label range-left>(&#x20b9;{{hotelInfo.chargepermin}}/min)</ion-label>
        </ion-col>
        <ion-col>
          <ion-label range-left>GST</ion-label>
        </ion-col>
        <ion-col>
         
        </ion-col>
     </ion-row>
     <!-- <ion-row style="margin-top: 20px;">
      <ion-item>
        <ion-range min="60" max="720" step="1" class="range-ios"  [(ngModel)]="stayDuration" (ionChange) = "calculatefare()">
          <ion-label range-left>1 Hr</ion-label>
          <ion-label range-right>12 Hrs</ion-label>
        </ion-range>
      </ion-item>
    </ion-row> -->
  </div>
  <div class="hoteldescription">
      <ion-label>DESCRIPTION</ion-label>
      <div class="descriptionContent"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea nihil modi nulla libero, rem, consequuntur reiciendis voluptas debitis vel facilis, error dolorem in ut ipsa praesentium laudantium dignissimos, saepe quidem.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic eaque ipsum assumenda architecto iste atque earum ratione excepturi, veniam quae rerum provident fuga, quam iure ea recusandae tempora ipsa fugiat.</span></div>
  </div> 
</ion-content>

<ion-footer class="reserve-now">
  <ion-toolbar>
    <button ion-button (click)="reserveNow()"  full>RESERVE NOW</button>
  </ion-toolbar>
</ion-footer>