page-settings {
    .content {
        background-color: #ECECEC;
    }
    .profile-card {
        border-radius: 5px;
        .list {
            margin: 10px 5px 5px 10px !important;
        }
        .item {
            padding-left: 0px !important;
            min-height: 7.0rem !important;
            .stack-label {
                margin: 11px 0px -6px 0px !important;
                color: #CECECE;
            }
            .text-input {
                margin-top: 15px !important
            }
        }
    }
    ion-thumbnail {
        min-width: 32px !important;
        min-height: 48px !important;
    }
    img {
        width: 32px !important;
        height: 48px !important;
    }
}