page-settings {
	ion-thumbnail{
	    min-width: 30px !important;
	    min-height: 60px !important;
	}
	ion-thumbnail img {
	    width: 25px !important;
	    height: 25px !important;
	     top: 20% !important;
	     position: absolute;
	}
	ion-label{
		font-size: 2vmax !important;
	}
	.label-name{
	  	margin: 11px 2px -27px 1px !important;
	  	color: #cdcdcd;
	}
	.card{
	   	border-radius: 10px !important;
	}
	.change-password{
		top:30% !important;
	}
}
