page-map {
    .search,.compas { 
        position: absolute;
        top: 5%;
        right: 10px;
        opacity: 0.7;
        height: 45px;
        width: 45px;
        background: transparent;
    }
     .compas{
        top: 17%;
    }
}


