page-map {

}

.compas { 
	position : absolute;
	bottom:50px;
	opacity: 0.7;
	border-radius: 25px;
	height:40px;
}

.search { 
	position : absolute;
	bottom:0px;
	opacity: 0.7;
	border-radius: 25px;
	height:40px;
}