// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.pobyt-button {
    margin: 0px;
    text-transform: none;
    background-color: map-get($colors, theme) !important;
    font-family: Opensans-Semibold;
}

.pobyt-button .button-inner {
    font-size:2.8vmax;
    color: map-get($colors, whiteColor);
}

.toolbar{
    padding:0px;
    background-color:map-get($colors, theme);
}
.toolbar-background {
    background: map-get($colors, theme);
}
.toolbar button{
    color: map-get($colors, whiteColor);
}
.toolbar-title {
    color: map-get($colors, whiteColor);
    text-align: center;
}
ion-footer {
    &.footer-md::before {
        background-image: none;
    }
}
.swiper-pagination-bullet-active{
  background: map-get($colors, theme) !important;
}
.placeholder {
    color: map-get($colors, textcolor);
    text-decoration: none;
    font-family: $theme-font;
    font-size: 1.5rem
}

.error {
    text-align: center;
    color: map-get($colors, error);
    font-family: $theme-font;
    margin: 0;
    font-size: 1.5rem;
}
* {
    font-family: 'Open Sans', sans-serif;
}

//Alert box styles
.alert-wrapper{
    border-radius:10px !important;
    background: #61B1AE !important;
}
.alert-head{
    color:#fff;
    text-align: center !important;
    font-weight:600 !important;
    .alert-title{
        font-size:4.5vmax;
        font-weight: 600;
    }
}
.alert-message{
    color:#fff !important;
    font-size: 2.5vmax;
}

.alert-button-group{
    text-align: center !important;
    display: block;
    padding-left: 8px !important;
    border-radius: 0 0 10px 10px;
    background:#fff;
    button{
        margin: 0 auto !important;
        color: rgb(93,93,93) !important;
        font-size: 3vmax;
        font-weight: bold !important;
    }
}