page-amenities {
	font-size: 2.0vmax;
    font-weight: 600;
    .row{
		width:100%;
	}
	.col-50{
		width:50%;
		padding:10px;
	}
	.amenity-img{
		width:15%;
	    padding: 3px;
    	margin-right: 5px;
	}
	.amenity-text{
		width:80%;
		font-size: 2.5vmax;
	}
	.floatleft{
		float:left;
	}
	.inlineblock{
		display:inline-block;
	}
}
