page-hotel-ploicy {
	.policymainTxt{
		span{
			line-height:1.2;
			font-family:Opensans !important;
			font-size: 2vmax;
		}
	}
	.policyTnC{
		line-height:1.2;	
		font-family:Opensans !important;
		font-size: 2vmax;
		margin:5px auto;
		span{
			color:blue;
			text-decoration: underline;
			font-weight:bold;
			font-family:Opensans-Semibold !important;
		}
	}
}
