search {
	.toolbar,.toolbar-background{
		background:#61B1AE !important;
	}
    ion-buttons button[icon-only].search-modal {
        margin: 0 6px;
        min-width: 36px;
    }
    .searchbar{
    	border:0px !important;
    	background:#0CA39E !important;
    	margin-top:10px;
    	box-shadow: inset 0px 3px 10px #888, 0px 3px 10px #888;
    }
    .searchbar .searchbar-input{
    	color:#fff;
    	background:#0CA39E !important;
    }
    .searchbar .searchbar-input::placeholder{
    	color:#fff;
    }
    .searchbar .searchbar-search-icon{
    	background-image:url(../assets/map/seearch_icon.png);
    }
    .searchbar .searchbar-clear-icon{
        width: 15px;
        background-size: 15px;
    	background-image:url(../assets/booking-info/close.png);	
    }

    .defined-places-list{
    	margin: 0 20px;
    	color: #fff;
    }
    .near-me{
    	margin-top:5%;
    	border-top:2px solid rgba(255,255,255,0.4);
    	.icon{
    		display:inline-block;
    	}
    	.place-name{
    		display:inline-block;
    	}
    }
    .defined-place{
    	padding:10px;
    	border-bottom:2px solid rgba(255,255,255,0.4);
    }
    .place-name{
	    font-size: 3vmax;
	    font-weight: 600;
    }
    .place-subtext{
    	font-size: 2vmax;
    }
    .item{
    	padding:0 16px !important;
    }
    .header .toolbar:last-child .toolbar-background{
    	border:0px !important;
    }
    .searchbar-md .searchbar-input{
    	box-shadow:none !important;
    }
    .scroll-content{
    	background:#61B1AE !important;
    	ion-item{
    		background:#61B1AE !important;
    		color:#fff;
    		font-size:2.5vmax;
    		border:0px !important;
    	}
    	.item-inner{
    		border-bottom: 2px solid rgba(255,255,255,0.4) !important;    	
    	}
    }
}