<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="dismiss()" class="search-modal">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="autocomplete.query" (ionInput)="updateSearch()" (ionCancel)="dismiss()" placeholder="Nearby - Available Now">
    </ion-searchbar>
    <ion-list>
        <ion-item tappable *ngFor="let item of autocompleteItems" (click)="chooseItem(item)" text-wrap>
            <ion-icon name="pin">
            </ion-icon>
            {{ item.description }}
        </ion-item>
    </ion-list>
    <div class="defined-places-list" [hidden]="hideDefinedlist">
        <div class="recentText">RECENT SEARCHES</div>
        <div class="defined-place near-me">
            <ion-icon class="icon" name="ios-locate-outline"></ion-icon>
            <div class="place-name">Near me</div>
        </div>
        <div class="defined-place" *ngFor="let place of places" (click)="definedItemSelected(place)">
            <ion-icon name="pin"></ion-icon>
            <div class="place-name">{{place.name}}</div>
        </div>
    </div>
</ion-content>