search {
	.toolbar,.toolbar-background{
		background:#61B1AE !important;
	}
    ion-buttons button[icon-only].search-modal {
        margin: 0 6px;
        min-width: 36px;
    }
    .searchbar{
    	border:0px !important;
    	background:#fff !important;
    	margin-top:10px !important;
    	box-shadow: 0 1pt 5pt 0 rgba(0,0,0,0.5);
        min-height: 60px;    
        .searchbar-input{
            color:rgb(93,93,93);
        	font-weight:600;
            box-shadow:none !important;
            font-size:3vmax;
        }
        .searchbar-input::placeholder{
            color:rgb(93,93,93);
            font-weight:600;
        }
        .searchbar-search-icon{
            height:26px;
        	background-image:url(../assets/map/search.png);
        }
        .searchbar-clear-icon{
            width: 15px;
            background-size: 15px;
        	background-image:url(../assets/map/cross.png);	
        }
    }

    .defined-places-list{
        background:#EBF8F8 !important;
        .recentText{
            color:rgb(93,93,93);
            padding: 10px 0 10px 10px;
            font-size: 1.8vmax;
            font-weight: 600;
        }
    }
    .near-me{
    	margin-top:5%;
    	//border-top:2px solid rgba(255,255,255,0.4);
    	.icon{
    		display:inline-block;
    	}
    	.place-name{
    		display:inline-block;
    	}
    }
    .defined-place{
    	padding:15px 10px;
        margin:0 10px;
    	border-bottom: 0.55px solid #c8c7cc;
        ion-icon{
            color: #61B1AE;
            margin-right:10px !important;
        }
        font-size: 2vmax;
        color: #5d5d5d;
    }
    .defined-place:last-child{
        border:0px;
    }
    .place-name{
        display:inline-block;
    }
    .place-subtext{
    	font-size: 2vmax;
    }
    ion-list{
        margin-top: 10px !important;
    }
    .list{
        margin:0px;
    }
    .header .toolbar:last-child .toolbar-background{
    	border:0px !important;
    }
    .scroll-content{
    	background:#61B1AE !important;
    	ion-item{
    		background:#EBF8F8 !important;
            padding:0 16px !important;
    		font-size:2.5vmax;
    		border:0px !important;
            .item-inner{
                ion-label{
                    font-size: 2vmax;
                    ion-icon{
                        color: #61B1AE;
                        margin-right:10px !important;
                    }
                }
            }
        }
    	.item-inner{
    		//border-bottom: 2px solid rgba(255,255,255,0.4) !important;    	
    	}
    }
}