page-signup {
    /*.scroll-content { padding-bottom: 0!important; }*/
    .close-row{
        margin-top: 6vmax;
        margin-left: 4vmax;
        margin-right: 4vmax;
        .close-col{
            padding:0 !important;
            img{
                height: 3vmax;
            }
            .back-img{
                float: right;
            }
        }
    }
    .slides{
        .slide-zoom{
            width:100%;
            height:100%;
        }
    }
    
    .welcome-row{
        margin-top:5vmax;
        margin-left: 4vmax;
        .welcome-label{
            margin:0vmax !important;
            text-align: left;
            font-weight: 600;
            font-size: 5vmax;
        }
    }
    .info-row{
        margin-top:6vmax;
        margin-left: 4vmax;
        .info-label{
            margin:0vmax !important;
            text-align: left;
            font-size: 3.0vmax;
        }
    }
    .names-row{
        margin-left: 4vmax;
        margin-right: 4vmax;
        .item{
            padding-left: 0 !important;
        }
    }
    .gender-row{
        margin-left: 4vmax;
        text-align: left;
    }
    .gender-images-row{
        margin-left: 4vmax;
        .col{
            padding:0 !important;
            .label{
                margin: 0vmax!important
            }
            .item-inner{
                padding:0 !important;
            }
        }
        .segment-button{
            border-color: rgb(71, 195, 189) !important;
        }
        .male{
            background-color: rgb(216,216,216);
            width: 8vmax;
            height: 8vmax;
            margin-right: 1vmax;
            padding: 1vmax;
        }
        .female{
            background-color: rgb(216,216,216);
            width: 6vmax;
            height: 8vmax;
            padding: 1vmax;
        }
    }
    .mobile-row{
        border-radius: 13px;
        width: 85%;
        margin-left: 4vmax;
        margin-top: 10vmax;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
        .col{
            padding:0vmax !important;
        }
        .country-label{
            padding:0vmax;
            width:15%;
            background-color: rgba(38,207,198,0.3) !important;
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
            .label{
                margin: 2vmax 1vmax 0vmax 1vmax !important;
                font-size: 3.0vmax;
            }
        }
        .mobile-input{
            .text-input{
                padding: 0 0 0 2vmax !important;
                margin-top: 2vmax;
                font-size: 3vmax;
            }
            .label{
                margin:2.0vmax 0 0 0 !important;
                font-size: 3vmax;
                text-align: left;
                padding-left: 2vmax;
            }
        }
    }    
    .go-row{
        text-align: right;
        float: right;
        margin-top: 6vmax;
        margin-right: 4vmax;
        .go-btn{
            background-color: rgb(38, 207, 198);
            box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.5);
            width: 9vmax;
            height: 9vmax;
            border-radius: 9px;
        }
        .go-img{
            width: 3.0vmax;
            height: 4vmax;
            margin-top: 2.5vmax;
            margin-right: 3vmax;
        }
    }
    .otp-row{
        margin-top: 4vmax;
        width: 85%;
        margin-left: 4vmax;
        .otp-input{
            box-shadow: 0px 2px 13px 3px rgba(143, 143, 143, 0.5);
            .text-input{
                text-align:center;
            }
        }
    }
    .otp-label{
        .label{
            margin: 2vmax 2vmax 2vmax 2vmax !important;
            padding-left: 2vmax;
            padding-right: 2vmax;
            font-size: 2vmax;
        }
    }
    .resend-row{
        text-align: left;
        margin-left: 5vmax !important;
    }
    .hideselect {
        display: none;
    }
    .names-slide,.mobile-slide{
        .info-row{
            margin-top:1vmax;
        }
        .info-label{
            margin:0vmax !important;
            font-size: 3vmax;
        }
    }
    .names-slide{
        .go-row{
            margin-top: -4vmax;
        }
    }
    .mobile-slide{
        .info-label{
            font-size: 2.8vmax;
        }
        .welcome-label{
            font-weight: 500;
            font-size: 4vmax;
        }
    }
    .otp-slide{
        .country-label{
            .label{
                margin: 1.5vmax 1vmax 1vmax 1vmax !important;
            }
        }
        .mobile-label{
            .label{
                text-align: left;
                padding-left: 2vmax;
                font-size: 3vmax;
            }
        }
        .go-row{
            margin-top: -5vmax;
        }
    }
        
    
}
